.pokedex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: calc(100vh - 50px);
  color: rgb(97, 97, 97);
  // border: 5px solid black;

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    max-width: 1200px;
    margin-top: 24px;
    // min-height: 800px;
    transition: 200ms;
    // border: 5px solid black;


    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 12px;
      margin: 6px;
      min-height: 100px;
      width: 200px;
      border: 1px solid rgb(232, 232, 232);
      cursor: pointer;
      border-radius: 12px;

      h4 {
        span {
          font-size: 12px;
        }
      }

      img {
        width: 80px;
        margin: 12px;
      }

      .types {
        display: flex;
        color: white;

        p {
          margin: 0 2px;
          padding: 2px 6px;
          border-radius: 6px;
          font-size: 12px;
        }
      }
    }

    .card:hover {
      background-color: rgb(232, 232, 232);
    }
  }

  @media only screen and (max-width: 500px){
    .grid{
      margin-top: 12px;
      grid-template-columns: 1fr 1fr;
      .card{
        width:45vw;
      }
    }
  }

  // @media only screen and (max-width: 800px){
  //   .grid{
  //     margin-top: 12px;
  //     grid-template-columns: 1fr 1fr 1fr;
  //     .card{
  //       width:33vw;
  //     }
  //   }
  // }

  .paginacao {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;

    button {
      padding: 6px 12px;
      border-radius: 6px;
      border: none;
      background-color: var(--verm);
      color: white;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      transition: 200ms ease-in-out;
      margin: 0 6px;
    }

    button:hover {
      background-color: var(--dark-verm);
    }
  }
}

.normalClass {
  background-color: var(--normal);
}

.fightingClass {
  background-color: var(--fighting);
}

.flyingClass {
  background-color: var(--flying);
}

.poisonClass {
  background-color: var(--poison);
}

.groundClass {
  background-color: var(--ground);
}

.rockClass {
  background-color: var(--rock);
}

.bugClass {
  background-color: var(--bug);
}

.ghostClass {
  background-color: var(--ghost);
}

.stellClass {
  background-color: var(--stell);
}

.fireClass {
  background-color: var(--fire);
}

.waterClass {
  background-color: var(--water);
}

.grassClass {
  background-color: var(--grass);
}

.electricClass {
  background-color: var(--electric);
}

.psychicClass {
  background-color: var(--psychic);
}

.iceClass {
  background-color: var(--ice);
}

.iceClass {
  background-color: var(--ice);
}

.dragonClass {
  background-color: var(--dragon);
}

.darkClass {
  background-color: var(--dark);
}

.fairyClass {
  background-color: var(--fairy);
}
