.header-container {
  position:fixed;
  z-index: 1;
  background-color: var(--verm);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // padding: 12px ;
  height: 50px;
  font-weight: bold;

  img {
    height: 35px;
    cursor: pointer;
    margin: 0 12px;
  }

  .home-button,
  .pokedex-button {
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid white;
    color: white;
    padding: 0 12px;
    height: 100%;
    transition: 200ms;
    cursor: pointer;
  }

  .home-button:hover,
  .pokedex-button:hover {
    background-color: var(--dark-verm);
  }
}
