.gens-container {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0 8px 0;

  .allgens {
    border: 1px solid rgb(232, 232, 232);
    cursor: pointer;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
    margin: 6px 0;

    h4 {
      margin: 8px 0 0 0;
    }

    .imgPokes {
      img {
        width: 100px;
        margin: 0 6px;
      }
    }

  }
  .allgens:hover {
    background-color: rgb(232, 232, 232);
  }
}
