<div class="gens-container">

  <div routerLink="/pokedex" (click)="SetGen(0)" class="allgens gen1" style="margin-top: 6px;">
    <p>Kanto - 1ª Geração (#001 - #151)</p>
    <div class="imgPokes">
      <img src="assets/bulbassaur.png" alt="">
      <img src="assets/charmander.png" alt="">
      <img src="assets/squirtle.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(151)" class="allgens gen2">
    <p>Johto - 2ª Geração (#152 - #251)</p>
    <div class="imgPokes">
      <img src="assets/Chikorita.png" alt="">
      <img src="assets/Cyndaquil.png" alt="">
      <img src="assets/Totodile.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(251)" class="allgens gen3">
    <p>Hoenn - 3ª Geração (#252 - #386)</p>
    <div class="imgPokes">
      <img src="assets/Treecko.png" alt="">
      <img src="assets/Torchic.png" alt="">
      <img src="assets/Mudkip.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(386)" class="allgens gen4">
    <p>Sinnoh - 4ª Geração (#387 - #386)</p>
    <div class="imgPokes">
      <img src="assets/Turtwig.png" alt="">
      <img src="assets/Chimchar.png" alt="">
      <img src="assets/Piplup.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(494)" class="allgens gen5">
    <p>Unova - 5ª Geração (#495 - #649)</p>
    <div class="imgPokes">
      <img src="assets/Snivy.png" alt="">
      <img src="assets/Tepig.png" alt="">
      <img src="assets/Oshawott.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(649)" class="allgens gen6">
    <p>Kalos - 6ª Geração (#650 - #721)</p>
    <div class="imgPokes">
      <img src="assets/Chespin.png" alt="">
      <img src="assets/Fennekin.png" alt="">
      <img src="assets/Froakie.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(721)" class="allgens gen7">
    <p>Alola - 7ª Geração (#722 - #809)</p>
    <div class="imgPokes">
      <img src="assets/Rowlett.png" alt="">
      <img src="assets/Litten.png" alt="">
      <img src="assets/Popplio.png" alt="">
    </div>
  </div>
  <div routerLink="/pokedex" (click)="SetGen(809)" class="allgens gen8">
    <p>Galar - 8ª Geração (#810 - #905)</p>
    <div class="imgPokes">
      <img src="assets/Grookey.png" alt="">
      <img src="assets/Scorbunny.png" alt="">
      <img src="assets/Sobble.png" alt="">
    </div>
  </div>
  <!-- <div routerLink="/pokedex" (click)="SetGen(905)" class="allgens gen8">
    <p>Galar - 9ª Geração (#906 - #1008)</p>
    <div class="imgPokes">
      <img src="assets/bulbassaur.png" alt="">
      <img src="assets/charmander.png" alt="">
      <img src="assets/squirtle.png" alt="">
    </div>
  </div> -->


</div>
